.center_text{
  text-align: center;
}
li {
  list-style-type: none;
}

.bookmark_title{
  background-color: white;
}

.bookmark {
  border: 1px black solid;
  overflow: hidden;
}

ul {
  padding: 0px;
}

.button_wrapper {
  display: inline-block;
  float: right;
}

.controls_wrapper {
  display: inline-block;
}

.hidden {
  display: none;
}

.error_box {
  color: red;
  font-size: 20px;
}