.center_text{
  text-align: center;
}
li {
  list-style-type: none;
}

.bookmark_title{
  background-color: white;
}

.bookmark {
  border: 1px black solid;
  overflow: hidden;
}

ul {
  padding: 0px;
}

.button_wrapper {
  display: inline-block;
  float: right;
}

.controls_wrapper {
  display: inline-block;
}

.hidden {
  display: none;
}

#error_box {
  border: 2px rgb(148, 15, 15) solid;
  text-align: center;
  color: rgb(148, 15, 15);
  font-size: 20px;
}

#add_new_bookmark {
  text-align: center;
  font-size: 20px;
}

legend {
  font-size: 15px;
}